:root {
    background-color: #ffce00;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo {
    position: absolute;
    left: 10%;
    top: 8%;
}

.card {
    width: 30vw; /* adjust the width */
    height: 60vw; /* adjust the height */
    padding: 8vw 3.5vw 6vw 3vw; /* adjust the padding */
    background-color: #ffce00;
    position: fixed; /* add position fixed */
    bottom: 0; /* align to the bottom */
    left: 50%; /* center horizontally */
    transform: translateX(-50%); /* center horizontally */
}

.main-border {
    position: absolute;
    width: 60vw;
    height: 62vh;
    margin: 22px 0 0;
    padding: 52px 32px 29px;
    border-radius: 25px;
    border: solid 3px #000;
    background-color: #fff;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.box {
    width: 81%;
    height: 59.5%;
    margin: 1px 0 0;
    padding: 67px 46px 54px 41px;
    border-radius: 76px;
    border: solid 1px #000;
}

.date {
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    width: 62%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-text {
    font-size: 23px;
    margin-top: 10%;
}

.lunch-text {
    font-size: 24px;
    text-align: center;
    letter-spacing: -1px;
    display: block;
    white-space: nowrap;
}
